<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="#mapperPath.#1Mapper">

    <resultMap id="BaseResultMap" type="#modelPath.#1#3">
        #baseMap
    </resultMap>

    <sql id="Base_Column_List">
        #baseList
    </sql>

    <!-- 分页插叙列表 -->
    <select id="select#1PageList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM #4
        <where>
            <include refid="condition"/>
        </where>
    </select>

    <!-- 条件 -->
    <sql id="condition" >
        #condition
    </sql>

    <!-- 新增 -->
    <sql id="insert" >
        #baseValueList
    </sql>

    <!-- 根据ID修改 -->
    <sql id="update" >
        #updateValue
    </sql>

</mapper>
